<nav class="navbar">
    <div class="d-flex justify-content-center align-items-center w-100">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('images/got_reviews_logo.png') }}" alt="GotReviews" style="max-height:160px; width:auto;">
        </a>
    </div>
</nav>
